.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.top-section.well {
  margin-bottom: 0;
}

#graph-container {
  width: 100%;
}